@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins&display=swap');

* {
  font-family: "Poppins, sans-serif";
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins, sans-serif";
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.pin {
  opacity: 0.9;
}

.tech-stack {
  flex-wrap: wrap;
  max-width: 600px;
}

@media screen and (max-width: 900px) {
  .tech-stack img {
    width: 30px;
    height: 30px;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.contact-icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 1rem;
}

.contact-icon-box span a {
  font-size: 3rem;
}

.wiggle {
  animation: wiggle 2s linear infinite;
}

.wiggle:hover {
  animation: none;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.footer-socials a {
  color: #fff;
  font-size: 2.3rem;
}