.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.pin {
  opacity: 0.9;
}

.techStack {
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .techStack img {
    width: 30px;
    height: 30px;
  }
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.loungepic {
  border-radius: 1.7rem;
  height: 20rem;
  width: 28rem;
}

.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

.img-side {
  position: relative;
  margin-right: 5rem;
}

.text-side {
  padding-right: 1.5rem;
}

.text-side h4 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text-side h3 {
  color: #2d2e32;
  font-family: Poppins,sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.text-side p {
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}